/*
    Changes made: 
        - I made the footer bigger and more prominent as I got a note that I was missing a footer last time. It is on all 3 pages.
        - Added padding to #main-one and #main-four.
        - Organized CSS rules and removed duplicates, moved styles specific to themes to seperate stylesheets
        - removed heights and widths on many grid and flexbox items that were causing issues
        - added button functionality for toggling dark/light mode
*/

@media screen and (min-width: 769px) {
    /* for desktop view */
    .flex-container-media > div {
        margin: 1vw;
    }
    .flex-container-media img, .flex-container-media iframe, .flex-container-media figure {
        width: 50vh;
    }
    figure figcaption{
        margin-top: 1vh;
    }
    figcaption {
        max-width: 300px;
    }
    .grid-container, .grid-container-media, .grid-container-contact {
        grid-row-gap: 0.5vw;
    }
    #register-box {
        margin-top: 1vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    #box-1, #box-2 {
        flex-direction: column;
    }
    #register-bottom {
        flex-direction: row;
    }
    .label-item label {
        width: 10vw;
    }
    #box-1 {
        margin-left: 15vw;
    }
    #box-2 {
        margin-right: 10vw;
    }
    #register-heading {
        white-space: nowrap;
    }
    #comments {
        width: 15vw;
        height: 15vh;
    }
    #register-button {
        height: 8vh;
    }
    #register-top {
        text-align: center;
    }

}
@media screen and (max-width: 768px) {
    /* for tablet view */
    .flex-container-media img, .flex-container-media iframe, .flex-container-media figure {
        width: 92%;
        height: auto;
        max-width: 100%;
    }
    .grid-container, .grid-container-media, .grid-container-contact {
        grid-row-gap: 1.5vw;
    }
    #box-1, #box-2 {
        flex-direction: column;
    }
    #register-bottom {
        flex-direction: column;
    }
    #box-2 {
        margin-left: 15vw;
    }
    #box-1 {
        margin-left: 10vw;
    }
    .label-item label {
        width: 25vw;
    }
    .register-heading {
        margin-bottom: 5vh;
        white-space: nowrap;
    }
    #comments {
        margin-left: 5vw;
        width: 45vw;
        height: 15vh;
    }
    #register-button {
        height: 15vh;
        width: 100vw;
        align-self: center;
        margin-left: 65vw;
    }
    #register-top {
        margin-left: 25vw;
    }
}
@media screen and (max-width: 450px) {
    /* for mobile */
    .flex-container-media img, .flex-container-media iframe, .flex-container-media figure {
        width: 25vh;
    }
    #main-two img {
        height: 50vw;
    }
    #register-bottom {
        flex-wrap: wrap;
    }
    #box-1, #box-2 {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .label-item label {
        width: 25vw;
    }
    .register-heading {
        margin-left: 0;
    }
    #comments {
        width: 40vw;
    }
    #register-button {
        height: 15vh;
        align-self: center;
    }

}
/* start of normal content CSS (not size dependent) */
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 0;
    height: 10vh;
    display: flex;
    flex-basis: auto;
    align-items: center;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    margin: 0;
}
#register {
    font-size: 15pt;
}
#register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
#register-top {
    margin-bottom: 0;
    
}
#register-bottom{
    display: flex;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
#box-1 {
    display: flex;
    width: 50%;

    margin-top: 0;
    padding-top: 0;
}
#box-2 {
    display: flex;
    width: 50%;

    padding-top: 0;
    margin-top: 0;
}
#register-button {
    display: flex;
    justify-content: left;
    margin-top: 2vh;
    margin-right: 0;
}
#register-title {
    font-size: 20pt;
}
.register-heading {
    font-size: 20pt;
}
.label-item {
    display: flex;
    align-items: center;
    margin-bottom: 3.8vh;
}

#comments {
    border-radius: 0.3vw;
}
#checkbox {
    list-style: none;
    margin: 0;

}
#checkbox li {
    padding: 1vh;
}
.label-item input {
    border-radius: 0.3vw;
    height: 2.5vh;
}
input.was-validated:invalid {
    color: red;
    background-color: lightcoral;
    border: 2px solid red;
}
input.was-validated:valid {
    background-color: lightgreen;
    border: 2px solid green;
}
input.was-validated:invalid ~ div {
    display: block;
}
input:valid ~ div {
    display: none;
}
input:invalid ~ div {
    display: none;
}
#errorMessage {
    color: red;
}
#successMessage {
    font-size: 25pt;
    font-weight: bold;
    margin: auto;
}
.flex-container-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
}
.grid-container > div, .grid-container-media > div, .grid-container-contact > div {
    align-self: stretch;
    justify-self: stretch;
    color: white;
}
.grid-container, .grid-container-media, .grid-container-contact {
    padding: 2vh;
    margin: 2vh;
    display: grid;
    grid-column-gap: 1vh;
}
.grid-container-contact #contact-one  h2, .grid-container-contact #contact-two h2 {
    margin: 2vh;
    font-size: 3vh;
}
.grid-container-contact #contact-one p,  .grid-container-contact #contact-two p{
    margin: 2vh;
    font-size: 2vh;
}
.grid-container-contact #contact-one img, .grid-container-contact #contact-two img {
    height: 10vh;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    height: 15vh;
}
#main-two img {
    align-self: center;
    margin: auto;
    max-height: 300px;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    flex-basis: auto;
    box-shadow: inset 0 0 1vh #3a1c21;
    box-shadow: .5vh .5vh 0.5vh #270c113f;
}
details {
    margin: 3vh;
}
button {
    cursor: pointer;
    border-radius: 30px;
    width: 10vh;
    margin: 1.5vh;
    min-width: 65px;
    flex-basis: auto;
}
button img {
    max-width: 3vw;
    max-height: 3vh;
    margin-top: 0.5vh;
}
#main-one {
    grid-area: main-one;
    padding: 2vw;
}
#main-two {
    grid-area: main-two;
    display: flex;
}
#main-three {
    grid-area: main-three;
    padding: 2vw;
}
#main-three ul {
    padding-left: 4em; 
}
#main-four {
    grid-area: main-four;
    padding: 2vw;
}
#footer {
    grid-area: footer;
}
#media-one {
    order: 1;
}
#media-two {
    order: 2;
}
#media-three {
    order: 3;
}
#media-four {
    order: 4;
}
#media-five {
    order: 5;
}
#media-six {
    order: 6;
}
#media-seven {
    order: 7;
}
#media-eight {
    order: 8;
}
#media-footer {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}
#register-footer {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}
#contact-one {
    grid-area: contact-one;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact-two {
    grid-area: contact-two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact-footer {
    grid-area: contact-footer;
}

/* ID's to hide pages */
#media {
    display: none;
}
#projects {
    display: none;
}
#contact {
    display: none;
}
#register {
    display: none;
}