
body {
    font-family: 'Courier New', Courier, monospace;
    /*background-image: url(strawberry_cow.jpg);*/
    background-repeat: repeat;
    font-size: 12pt;
    margin: 0% 5%;
    padding: 0px;
    border: solid 10px;
    border-image: url(h2background.jpg) 10 round;
    background-color: #520202;
}
h1 {
    font-family: 'Papyrus';
    font-size: 40pt;
    color:rgb(129, 0, 17);
    background-image: url("h1background.jpg");
    margin: 0;
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 2px #000000;  
}

h2 {
    font-family: 'Papyrus';
    font-size: 25pt;
    color: rgb(133, 0, 0);
    border-top: solid 10px black;
    border-bottom: solid 10px black;
    background-image: url("h2background.jpg");
    margin: 0%; /*hopefully this is ok, much prefer the look :3 */
    text-shadow: 3px 2px #000000;
    
}
img {
    margin: 7% 3%;
    width: 18%;
    height: auto;
    float: right;
    border: 15px solid transparent;
    border-image: url(h2background.jpg) 30 round;
    box-shadow: 8px 10px 10px #000000;
}

p::before {
    content: "    ";
    white-space: pre;
}

p {
    padding: 5pt;
}

/*table, th, td {
    border: 3px solid black;
    border-image: url(h2background.jpg) 3 round;
}*/

table {
    table-layout: fixed;
    width: 750px;
    margin: 1% 0% 1% 22%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 8px solid rgb(29, 0, 0);
    border-image: url(h2background.jpg);


}
th, td {
    padding: 3px;
    vertical-align: top;
    text-align: left;
    border-bottom: 2px solid;
    border-color: rgb(49, 0, 0);
}
th {
    width: 120px;
    font-weight: bold;
    background-image: url(GCD.jpg);
    text-align: center;
    padding: 10px;
}
td {
    padding: 10px;
}

a {
    text-decoration: none;
    color:rgb(212, 0, 0);
}
a:hover {
    text-decoration: underline;
    color:rgb(20, 0, 0);
}
a:active {
    color:rgb(255, 0, 0);
}


::selection {
    color: rgb(255, 138, 138);
}

.STAT {
    background-color:rgb(255, 0, 0);
}
.C {
    background-color: rgb(255, 0, 0);
}
.data {
    background-color: rgb(139, 0, 0);
    color:rgb(0, 0, 0)
}
.web {
    background-color: rgb(68, 0, 0);
    color:rgb(221, 0, 0);
}
.hw {
    background-color: rgb(189, 0, 0);
}
.commute {
    background-color: rgb(39, 0, 0);
    color:rgb(255, 0, 0)
}
.get_ready {
    background-color: rgb(136, 0, 7);
}
.free_time {
    background-color: rgb(27, 0, 0);
    color:rgb(255, 0, 0);
}
.haiku {
    text-align: center;
    width: 25%;
    margin: 0% 35% 3.5%;
    border: solid 10px black;
    border-image: url(h2background.jpg) 10;
}

h2.no_border {
    border: none !important;
}

